* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    display: flex;
    background-color: purple;
    width: 100 vw;
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  #cellphone {
    background-color: black;
    width: 250px;
    height: 400px;
    border-radius: 20px;
  }
  
  #inner-cellphone {
    background-color:grey;
    width: 220px;
    height: 300px;
    margin: 30px auto;
    text-align: center;
  }
  
  #results-div {
    width: 220px;
    height: 150px;
    overflow: auto; 
  }
  
  
  #phone-footer {
    width: 230px;
    height: 30px;
    margin: -20px auto;
    text-align: center;
  }
  
  button {
    width: 105px;
    height: 30px;
    font-size: 20px;
  }
  
  input {
    margin: 20px;
    width: 180px;
    height: 30px;
    font-size: 20px;
  }
  
  p {
    padding-top: 20px;
    font-size: 20px;
  
  }
  
  h1 {
    padding: 30px;
  }
  